<!DOCTYPE html>
<html lang="en">
    <head>
      	<% include ../common/header.html  %> 
        <link rel="stylesheet" type="text/css" href="/css/plugs/bootstrap.min.css" />
    </head>
  <%var user=data; %>
    <body style="background-color: #FAFAFA">
    <% include ../common/head2.html  %>
    <form class="form-horizontal"  method="post" action="/check/check"  role="form">
      <div class="form-group">
        <label  class="col-sm-2 control-label"> <h4>审核用户</h4></label>
      </div>
	  <input type="hidden" value="<%=user.id%>" name="id"/>
      <div class="form-group">
        <label  class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-3 check-content">
          <%=user.nickname%>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">学号</label>
        <div class="col-sm-3 check-content">
          <%=user.student_card%>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">身份证号码</label>
        <div class="col-sm-3 check-content">
          <%=user.card%>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">手机号</label>
        <div class="col-sm-3 check-content">
          <%=user.phone%>
        </div>
      </div>
       <div class="form-group">
        <label  class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-3 check-content">
         <%=user.name%>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">性别</label>
        <div class=" col-sm-3 check-content">
         <%=user.sex==1?"男":"女"%>
         </div>
        </div>
      </div>
       <div class="form-group">
          <label  class="col-sm-2 control-label">学校</label>
           <div class="col-sm-2 check-content">
           <%=user.provinceName+" "+user.schoolName%>
          </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">头像</label>
        <div class="col-sm-3 check-content">
             <img src="<%=user.avatar%>"  class="check-image" /> 
        </div>
      </div>
       <div class="form-group">
        <label  class="col-sm-2 control-label">身份证照片</label>
        <div class="col-sm-3 check-content">
            <img src="<%=user.card_photo%>"  class="check-image" />
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">学生证照片</label>
        <div class="col-sm-3 check-content">
            <img src="<%=user.student_photo%>"  class="check-image" /> 
        </div>
      </div>
	   <div class="form-group">
        <label  class="col-sm-2 control-label">选择审核结果</label>
        <div class=" col-sm-3">
         <div class="radio">
           <label>
             <input type="radio" name="result"  value="1" checked>
            通过
           </label>
         </div>
         <div class="radio">
           <label>
             <input type="radio" name="result"  value="0">
            不通过
           </label>
         </div>
        </div>
      </div> 
	  <div class="form-group check-season">
        <label  class="col-sm-2 control-label">选择原因</label>
        <div class=" col-sm-3">
         <div class="radio">
           <label>
             <input type="radio" name="season"  value="学生证不合格" checked>
            学生证不合格
           </label>
         </div>
         <div class="radio">
           <label>
             <input type="radio" name="season"  value="身份证不合格">
            身份证不合格
           </label>
         </div>
		  <div class="radio">
           <label>
             <input type="radio" name="season"  value="真实姓名和身份证不符合">
            真实姓名和身份证不符合
           </label>
         </div>
		 <div class="radio">
           <label>
             <input type="radio" name="season"  value="身份证号不符合身份证">
            身份证号不符合身份证
           </label>
         </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
	<div class="big-img-container">
		<div class="big-img-bg">
			<a href="#" class="delete-big-img">x</a>
			<a href="#" class="left-arrows"><</a>
			<img src=""  class="big-img" />
			<a href="#" class="right-arrows">></a>
		</div>	
	  </div>
    <% include ../common/footer.html  %>                
    </body>
     <script src="/js/Jquery.js"></script>
         <script type="text/javascript">
           seajs.use(['LookBigImage'], function(l) {
		   //审核通过隐藏原因，审核不通过显示原因
		   $('input[type="radio"][name="result"]').on("change",function(){
				if($(this).val()==0){
					$(".check-season").show();
				}else{
					$(".check-season").hide();
				}
		   });
		   
		   l.initLookBigImg();
          });
         </script>   
    </html>