<!DOCTYPE html>
<html lang="en">
    <head>
      	<% include ../common/header.html  %> 
        <link rel="stylesheet" type="text/css" href="/css/plugs/bootstrap.min.css" />
    </head>
  
    <body style="background-color: #FAFAFA">
    <% include ../common/head2.html  %>
	
	  <div class="comWidth ">
	  <a href="/check/lookCheckUserResult" class="look-check-result">查看审核结果</a>
		<table class="table table-striped tablelist" >
			<caption><h4>审核用户</h4></caption>
			<tr>
				<th>id</th>
				<th>真实姓名</th>
				<th>手机号</th>
				<th>审核状态</th>
				<th>操作</th>
			</tr>
			
			<%if(data.length){%>
				<%data.forEach(function(user){%>
				<tr>
					<td><%=user.id%></td>
					<td><%=user.name%></td>
					<td><%=user.phone%></td>
					<td>待审核</td>
					<td><a class="button" href='checkUserInfo?id=<%=user.id%>'>审核</a></td>
				</tr>
				<%});%>
			<%}else {%>
				<tr>
					<td></td>
					<td></td>
					<td>没有要审核的用户</td>
					<td></td>
					<td></td>	
				</tr>
			<%}%>
		</table>
	</div>
    <% include ../common/footer.html  %>                
    </body>
     <script src="/js/Jquery.js"></script>
         <script type="text/javascript">
           seajs.use([], function() {
            
          });
         </script>   
    </html>