         <div id="footer">
             <div class="ft_main">
                 <div class="ft_nav">
                     <a class="noborder">关于我们</a>
                     <cite>/</cite>
                     <a>配送政策</a>
                     <cite>/</cite>
                     <a >加入我们</a>
                     <cite>/</cite>
                     <a >帮助中心</a>
                     <cite>/</cite>
                     <a >加盟代理</a>
                     <cite>/</cite>
                     <a >站点地图</a>
                     <cite>/</cite>
                     <a >联系我们</a>
                     <cite>/</cite>
                     <a >友情链接</a>
                 </div>
                 <div class="ft_txt">
                     <p>
                         Copyright 2016,广州欣宇睿飏网络科技有限公司
                     </p>
                     <p class="ft_contact">                         
                        <span class="ft_phone">
                            客服热线
                            <em>020-99999999</em>
                        </span>
                     </p>
                     <p class="flink">
                         <a >购物流程</a>
                         <a >会员介绍</a>
                         <a >生活旅行</a>
                         <a >常见问题</a>
                         <a >配送方式</a>
                         <a >支付方式</a>
                         <a >售后服务</a>
                        
                     </p>
                 </div>
                 
             </div>
         </div>
         <!--footer结束-->
		