<meta charset="UTF-8">

<title></title>

<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/common/head.css"/>
<link rel="stylesheet" type="text/css" href="/css/common/shopClass.css"/>
<script src="/js/sea.js"></script>
<!-- <script src="js/foucs/slider.js" type="text/javascript" charset="utf-8"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="css/plugs/bootstrap.min.css" /> -->
<script>
seajs.config({
    // 设置别名，方便调用
    alias: {
    	"Bootstrap":"bootstrap.min.js",
    	// "Jquery":"jquery.js",
    	// "Jquery1.7":"jQuery1.7.js",
       'Fileinput': "fileinput.min.js",//上传图片
	   // 'Fileinput': "fileinput_locale_zh.js",
	   "FileInputControl":"myjs/fileInput-control.js",
		"Tab":"myjs/tab.js",//评论tab
	   "Slide":"jquery.SuperSlide.2.1.1.js",//弹出分类
	   "Slider":"foucs/slider.js",//焦点图
	   "Focusall":"foucs/focusall.js",//焦点图
       "OptionSelect":"myjs/option-select.js",//选项下拉框
       "JsonData":"myjs/json-data.js",//json数据
       "Pagination":"jquery.pagination.js",//翻页插件
	   "Validator":"jquery.validator.min.js?local=zh-CN",//表单验证
	   "ShopClass":"myjs/shopclass.js",
	   "PanginationControl":"myjs/pagination-control.js",//翻页控制器
	   "LookBigImage":"myjs/look-big-img.js"//查看大图
    }
})

</script>