 <div id="header">
       <div class="hd_bar">
           <div class="bd">
               <div class="logo">
                   <a href="/" >
                       <!-- <img src="content/images/thumbs/0002913.png" /> --></a>
               </div>
               <div class="hd_lbar">
                   <a class="link" href="/"  >微采网首页</a>
               </div>
               <div class="hd_rbar">
                   <a class="link" href="#"
                        id="zixun-btn">
                        在线咨询
                   </a>
                   <span>020-88888888</span>
               </div>
           </div>
       </div>
   </div>