<!DOCTYPE html>
<html lang="en">
    <head>
         <% include ../common/header.html  %>
       <link rel="stylesheet" type="text/css" href="/css/personalCenter.css" />
    </head>
    <body style="background-color: #FAFAFA">
		  <% include ../common/head.html  %>
        <!-- Begin Wrapper -->
        <div id="wrapper">
            <!-- Begin Sidebar -->
            <div id="sidebar" >
            <!-- Begin Menu -->
            <div id="menu" class="menu-v">
              <ul>
                <li><a href="personalCenter" >收藏的商品</a>
                </li>
                <li><a href="publish" class="active">发布的商品</a> 
                </li>
                <li><a href="myIndent">我的订单</a>
                </li>
                <li><a href="attentionPerson">关注的同学</a>
                </li>
                <li><a href="attentionSchool">关注的学校</a></li>
              </ul>
            </div>
            <!-- End Menu -->
                                
            </div>
            <!-- End Sidebar -->
           
            <!-- Begin Content -->
            <div id="content">
                 <a href="/commodity/addCommodity" class="commodity-btn">添加商品</a>
				 <a href="/personCenter/sendCommodity" class="commodity-btn">商品发货</a>
				<%if(goods.length==0){%>
				<div class="commodity-hint"><img  src="/img/hint2.gif"  />很抱歉，你没有发布任何商品哦！</div>
				<%}%>
                <div  id="productlist" class="pro_list" >
                    <ul class="cle"> 
						<%goods.forEach(function(product){%>
						<li >
                            <a href="/commodity/commodityInfo?id=<%=product.id%>" style="height: 280px;">
                                <p class="pic">
                                    <img width="150" height="150"  src="<%=product.image.split(",")[0]%>"  />
                                </p>
                                <div class="btm cle">
                                    <span class="price">
                                        &#165;<%=product.price%>
                                    </span>
                                    <span class="sales">
                                        <i >销量</i>
                                        <%=product.sales%>
                                    </span>
                                </div>
                                <p class="title">
                                    <%=product.name%>
                                </p>               
                            </a>
							 <div class="btm cle">
								 <a class="delete" href="deletePublish?id=<%=product.id %>">删除</a>
							  </div>
                        </li>
						<%});%>  
                    </ul>
                </div>
                <% include ../common/pages.html  %>           
            </div>
            <!-- End Content -->
            
        </div>
        <!-- End Wrapper -->
        <div class="clear"></div>
        <% include ../common/footer.html  %>   
      </body>
          <script src="/js/Jquery1.7.js"></script>
          <script type="text/javascript">
          seajs.use(["PanginationControl","Slide","ShopClass"], function(p) {
			p.initPagination({
			page:"<%=page%>",
			currentPage:<%=locals.get.p?(locals.get.p-1):0%>
			});
          });
          </script> 
</html>

